html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.main-wrapper {
  min-height:100%;
  position:relative;
  background: url('../../static/images/background2.jpg'); 
  background-size: cover;
}

#home-page-wrapper {
  min-height:100%;
  position:relative;
  background: url('../../static/images/background4.jpg'); 
  background-size: cover;
}

/* The navigation bar */
.navbar {
  /* overflow: hidden; */
  background-color: #335;
  position: fixed;
  top: 0;
  height: 70px;
  width: 90%; 
  padding-left: 5%;
  padding-right: 5%;
}

footer {
  /* margin-top: -15px; */
  width: 100%;
  height: 70px;
  background-color: #335;
  text-align: center;
  color: #23f1f8;
  position: absolute;
  bottom: 0;
 
}
footer p{
  padding-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

#content-wrapper {
 padding-top: 80px;
 padding-bottom:70px
}


/* Links inside the navbar */
.navbar-link a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}
.navbar-link {
height: 100%;
padding-top: 10px;
}
.navbar-link a:hover {
  background: rgba(200, 200, 235, 0.6);
  font-size: 20px;
  /* color: black; */
  color: #23f1f8;
}

/* logo related */
.logo {
text-decoration: none;
float: left;
height: 100vh;
line-height: 70px;
}

.logo a{
  text-decoration: none;
}

.logo h2 {
margin: 0;
padding: 0;
color: #23f1f8;
}

#overlay {
  display: flex;
  justify-content: center;
  height: 100%;
}

#overlay_pill {
  font-size: 25px;
  width: 50%;
  height: 100%;
  display: flex;
}

#overlay_pill a {
  text-decoration: none;
  border-radius: 20px;
  display: block;
  line-height: 60px;
  color: rgb(247, 248, 249);
  width: 240px;
  height: 60px;
  text-align: center;
  border:2px solid white;
  background: rgba(31, 144, 195, 0.5);
  margin: 300px auto;
}

#overlay_pill a:hover{
  background: rgba(200, 144, 35, 0.5);
}


label {
  cursor:pointer
}
#form-switch {
  display:none
}
#signup-form {
  display:none
}
#form-switch:checked~#signup-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

.form{
  margin: 40px auto;
  width: 450px;
  padding-bottom: 30px;
  background: white;
  text-align: center;
}

.form input{
  width: 84%;
  height: 45px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-item {
  height: 60px;
  color: #ADADAD;
  margin-bottom: 25px;
}
.form-item label{
  display: block;
  float: left;
  margin-left: 7%;
}

form.signup input {
 height: 40px; 
}
form.signup {
  padding-bottom: 50px;
}
#create-rideform {
  padding-bottom: 60px;
}

.form input:focus {
    border-color:#6e8095;
    outline: none;
  }

h1.title{
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #23f1f8;
  text-align:center;
  background-color:  #668;
}

#p_wrapper{
  border: 1px solid #eee;
  margin: 20px auto;
  background: #eee;
  width: 100%;
  margin-top: -18px;
}
.header_bar{
  margin-top: 20px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100%;
  background: #c4c4c4;
  height: 40px;
}
.header_bar span{
  display: block;
  margin-top: 5px;
  padding-left: 20px;
  font-size: 18px;
}
#p_container1{
  background: white;
  float: left;
  width: 180px;
  border: 10px solid white;
  margin: 20px 20px;
}
#p_container2{
  background: white;
  border: 10px solid white;
  margin-left: 240px;
  margin-top: 20px;
  margin-right: 20px;
}
.profile_image{
  width: 100%;
  height: 170px;
  margin-top: 20px;
}
.profile_image img{
  width: 100%;
}
#about_user{
  padding: 5px;
  width: 170px;
}
.details_card{
  width: 480px;
}

.table_wrapper{
  width: 90%;
  max-width: 800px;
  border: 1px solid #c4c4c4;
  margin: 20px auto;
  text-align: center;
  background: white;
  /* padding: 10px 5px; */
}
.viewTable {
  /* color: #f7f7f7; */
  /* border: 15px solid #f7f7f7;
  border-top: 0px; */
}
.table-title {
  margin: 0;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #c4c4c4;
}
th, td{
  text-align: left;
  border: 1px solid #c4c4c4;
  padding: 5px;
  font-size: 18px;
}
th{
  text-align: center;
  background: #f7f7f7;
}
.profile_t1, .profile_t2{
  border-color: white;
  width: 50%;
}
#profile_t1{
  float: left;
  border-left: 30px solid white;
}
.profile_t1 td, .profile_t2 td{
  border: 0px;
}

#p_container2 td,th{
  font-size: 14px;
}
#p_container2 td:first-child{
  width: 100px;
}

#total_rides{
  margin-top: -15px;
  padding-left: 30px;
}
.details_table{
  width: 300px;
}
.t_title{
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.details_card td, .details_card th{
  font-size: 15px;
}

  /* buttons */
.submit-btn {
  float: left;
  margin-left: 6%; 
  width: 100px;
  height: 45px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}
.join-btn{
  margin-top: 5px;
  width: 80%;
  height: 40px;
}
.login-signup-switch{
  text-align:center;
  margin-bottom:0px;
  color: #55A;
  text-decoration:none;
  font-size:13px;
}
.login-signup-switch a{
 text-decoration:none; 
 color: #55A;
}
#profile_edit_btn{
  float: right;
}

